* {
  grid-sizing: border-grid;
}

body {
  background-color: #5959EF;
  font-family: 'Arial', sans-serif;
  margin: 20px;
  color: white;

}

a {
  color: white;
}

main {
  margin: 20px;
}


.grid {
  overflow: scroll;
  background-color: #5959EF;
  font-size: 16px;
  width: 340px;
  height: 340px;
  padding: 10px;
  margin: 5px;
  border: 0.5px solid white;
  display: inline-block;
  vertical-align: top;
}

.grid:hover, .grid:active, .grid:hover a {
  color: #5959EF;
  background-color: white;
  /*font-weight: bold;*/
}

/*.backbutton {
  padding: 10px;
}*/

.back-button a {
  text-decoration: none;
}

.projects p {
  padding: 10px;
  width: 50%;
}

.releases p {
  padding: 10px;
  width: 50%;
}

img {
  width: 340px;
  height: 340px;
  object-fit: contain;
}





@media (max-width: 600px) {
  
main {

    margin: auto;
    position: relative;
    font-size: 14px;

}


.grid {
    width: 75%;
    height: 75%;
   border: 2px solid white;
    display: inline-block;
  }


  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

}
